Source: ros-melodic-denso-robot-core
Section: misc
Priority: optional
Maintainer: DENSO WAVE INCORPORATED <fa-support@denso-wave.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-bcap-core, ros-melodic-bcap-service, ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-roscpp, ros-melodic-std-msgs
Homepage: http://ros.org/wiki/denso_robot_core
Standards-Version: 3.9.2

Package: ros-melodic-denso-robot-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-bcap-core, ros-melodic-bcap-service, ros-melodic-message-runtime, ros-melodic-roscpp, ros-melodic-std-msgs
Description: The denso robot core package includes a node for controlling DENSO robot controllers.
